#scatter_plot {
	display: inline;
	margin: 10px 10px 10px 10px;
	left: 1%;
}

#choropleth_map {
	display: inline-block;
	float: left;
	margin: 10px 10px 10px 10px;
}

#barChart {
	display: block;
	float: left;
	margin: 10px 10px 10px 10px;
}

b {
	position: absolute;
	font-size: 20px;
	margin: auto;
}
