#scatter_plot {
	position: absolute;
	top:1%;
	left: 1%;
	height: 1000px;
	width: 800px;
}

#choropleth_map {
	position: relative;
	margin-left: 2%;
	top: 1%;
	height: 1000px;
	width: 800px;
}

#barChart {
	position: relative;
	margin-top:100px;
	/*height: 1000px;
	width: 800px;*/
}
